*/__pycache__
*.pyc
*.pyo
*.pyd

.env
venv/
gateway_env/

# Ignore Django migrations
# */migrations/*
# !*/migrations/__init__.py


.git
.gitignore

Dockerfile

media/
static/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.coverage
coverage/
htmlcov/

