@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for scrollbar */
body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #38b2ac, #4299e1);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }